<div class="tutorial-container">
  
	<!-- Índice -->
	<aside class="sidebar">
		
		<h3>Índice</h3>
		<ol>
			<li>
				<a href="#Angular0">¿Qué es Angular?</a>
				<ul>
					<li><a href="#Angular1">¿Por qué elegir Angular?</a></li>
					<li><a href="#Angular2">Ventajas y desventajas</a></li>
					<li><a href="#Angular3">Angular vs React</a></li>
					<li><a href="#Angular4">TypeScript</a></li>
					<li><a href="#Angular5">¿Qué aplicaciones tiene?</a></li>
					<li><a href="#Angular6">¿Qué prerrequisitos necesita?</a></li>
					<li><a href="#Angular7">¿Sobre qué lenguajes se apoya?</a></li>
				</ul>
			</li>
		
			<li>
				<a href="#Instalacion0">Instalación de Angular</a>
				<ul>	
					<li><a href="#Instalacion1">Instalación en Windows</a></li>
					<li><a href="#Instalacion2">Instalación en Linux</a></li>
					<li><a href="#Instalacion3">Instalación en macOS</a></li> 
				</ul>
			</li>
			
			<li>
				<a href="#section12">Primeros pasos en Angular</a>
				<ul>
					<li><a href="#section13">3.1 Crea un nuevo proyecto</a></li>
					<li><a href="#section14">3.2 Ejecutar aplicación</a></li>
					<li><a href="#section15">3.3 Estructuras de carpetas</a></li>
					<li><a href="#section16">3.4 Hola mundo</a></li>
				</ul>
			</li>
			
			<li>
				<a href="#section17">Funcionamiento del framework</a>
				<ul>
					<li><a href="#section18">4.1 Ficheros</a></li>
				</ul>
			</li>
			
			<li><a href="#section19">Conclusiones del tutorial </a></li>
	  
			<li>
				<a href="#section12">Primeros pasos en Angular</a>
				<ul>
					<li><a href="#section13">3.1 Crea un nuevo proyecto</a></li>
					<li><a href="#section14">3.2 Ejecutar aplicación</a></li>
					<li><a href="#section15">3.3 Estructuras de carpetas</a></li>
					<li><a href="#section16">3.4 Hola mundo</a></li>
				</ul>
			</li>
			
			<li>
				<a href="#section17">Funcionamiento del framework</a>
				<ul>
					<li><a href="#section18">4.1 Ficheros</a></li>
				</ul>
			</li>
			
			<li>
				<a href="#section17">Funcionamiento del framework</a>
				<ul>
					<li><a href="#section18">4.1 Ficheros</a></li>
				</ul>
			</li>
			
			<li><a href="#section19">Conclusiones del tutorial </a></li>
	  
			<li>
				<a href="#section12">Primeros pasos en Angular</a>
				<ul>
					<li><a href="#section13">3.1 Crea un nuevo proyecto</a></li>
					<li><a href="#section14">3.2 Ejecutar aplicación</a></li>
					<li><a href="#section15">3.3 Estructuras de carpetas</a></li>
					<li><a href="#section16">3.4 Hola mundo</a></li>
				</ul>
			</li>
			
			<li>
				<a href="#section17">Funcionamiento del framework</a>
				<ul>
					<li><a href="#section18">4.1 Ficheros</a></li>
				</ul>
			</li>
			
			

	</ol>
  </aside>

<!-- <img src="angular_transparente.png" alt="Descripción de la imagen" class="imagen">  -->

	<!-- Contenido -->
	<div class="content">
		<section id="Angular0">
			<h1>¿Qué es Angular?</h1>
		
			<p>Angular es software de desarrollo web de código abierto creado en 2010 y mantenido por Google. Angular combina HTML, CSS y JavaScript (o TypeScript) para realizar interfaces 
			de usuario modernas y fáciles de escalar.</p>
			<p>Una de las principales características de Angular es su enfoque basado en componentes. Los componentes son estructuras reutilizables que encapsulan el comportamiento o el 
			diseño de una parte de la interfaz de usuario. Esto permite a los programadores dividir aplicaciones complejas partes más manejables y más cómodadas de modificar. </p>
			<p>En resumen, Angular es una herramienta versátil y poderosa para desarrolladores que buscan construir aplicaciones web robustas y modernas, con una gran escalabilidad.</p>
		
		</section>
	
		<section id="Angular1">
			<h2>¿Por qué elegir Angular?</h2>
			<p>Angular es una elección habitual entre desarrolladores y empresas de software debido a su potencia para el desarrollo de aplicaciones web. Una de las razones principales para elegir 
			Angular es que incluye herramientas de enrutamiento, gestión de formularios, servicios HTTP y más.</p>
			<p>Otra ventaja de Angular es que al estar supervisado por Google, se garantizan las actualizaciones periódicas, nuevas funcionalidades y compatibilidad con otras aplicaciones de 
			desarrollo web. Grandes empresas como Google, Microsoft y Amazon utilizan Angular para el desarrollo de sus webs públicas o para los frot-end de sus aplicativos (Google Analytics, 
			Google Adwrods, etc). Esto demuestras que Angular es muy válido para desarrollar proyectos complejos y de gran envergadura.</p>
			<p>Para las empresas de software es una herramienta de desarrollo muy interesante porque facilita la reutilización de componentes en distintos proyectos, ahorrando tiempos y esfuerzos.</p>
        </section>

		<section id="Angular2">
			<h2>Ventajas y desventajas</h2>
			<p>Las principales ventajas de Angular son:</p>
				<li>Desarrollo de código limpio</li>
				<li>Fácil de construir, mantener, probar y actualizar</li>
				<li>Compatibilidad con HTTP, AJAX, etc</li>
				<li>Representación rápida del lado del servidor</li>
				<li>Compatibilidad con vistas sin renderizado del lado del navegador</li>
				<li>Los componentes que se ejecutan en paralelo reducen la cantidad de líneas necesarias para el código</li>
				<li>Productividad mejorada para los desarrolladores</li>
				<li>Se mejora el rendimiento de la aplicación.</li>
				<li>Angular cuenta con una robusta herramienta de CLI (Command Line Interface) que simplifica tareas comunes como la generación de componentes, volcado a repositorios, etc.</li>
			
			<p>Algunas desventajas de Angular son:</p>
				<li>Los principiantes se enfrentan a una curva de aprendizaje muy pronunciada.</li>
				<li>Los paquetes de gran tamaño pueden afectar el tiempo de carga de la aplicación</li>
				<li>Estructura sintáctica compleja</li>
				<li>Flexibilidad limitada en comparación con React</li>
				<li>Se utiliza mucho TypeScript</li>
				<li>Actualizar a versiones más nuevas puede ser difícil</li>
				<li>Tiempo de renderizado más lento en comparación con React</li>
			
		</section>
			
		<section id="Angular3">
			<h2>Angular vs React</h2>
			<p>	Angular y React son dos de las tecnologías más populares para el desarrollo web, pero tienen diferencias significativas. Angular ofrece todas las herramientas necesarias 
			para desarrollar una aplicación desde cero. React, por el contrario es una biblioteca enfocada en la interfaz de usuario, lo que significa que requiere integración con otras 
			herramientas para funcionalidades como el enrutamiento o la gestión de estados.</p>
			<p>En cuanto al lenguaje, Angular utiliza TypeScript de forma predeterminada, lo que mejora la seguridad y la mantenibilidad del código. React permite usar JavaScript puro, 
			pero también es compatible con TypeScript para los desarrolladores que deseen un tipado estático. La elección entre ambos depende en gran medida de las preferencias y 
			necesidades del equipo.</p>
			<p>En cuanto al rendimiento, React suele ser más ligero y rápido debido a su enfoque en la biblioteca central y su uso del DOM virtual. Angular, aunque más pesado, ofrece 
			herramientas para optimizar el rendimiento, como la renderización del lado del servidor y la división de código.</p>
			<p>En conclusión, Angular es ideal para proyectos que requieren una solución completa y estructurada, mientras que React es más adecuado para desarrolladores que buscan 
			flexibilidad y simplicidad en el desarrollo de interfaces.</p>
			<p>Si partimos de cero en ambos casos hay que tener en cuenta la facilidad de aprendizaje de React frente a Angular.</p>
		</section>

		<section id="Angular4">
			<h2>TypeScript</h2>
			<p>TypeScript es un superconjunto de JavaScript desarrollado por Microsoft que añade tipado estático y otras funcionalidades avanzadas al lenguaje. Es el lenguaje principal de 
			Angular y proporciona una base sólida para escribir código más seguro. TypeScript se convierte en JavaScript compatible con navegadores y entornos de ejecución.</p>
			<p>El uso de TypeScript en Angular permite detectar errores en tiempo de compilación en lugar de tiempo de ejecución, lo que reduce el riesgo de fallos en producción.</p>
			<p>En resumen, TypeScript es una elección ideal para el desarrollo con Angular, ya que proporciona una base sólida, reduce errores y mejora la experiencia general de desarrollo.</p>
      
		</section>

		<section id="Angular5">
			<h2>¿Qué aplicaciones tiene?</h2>
			<p>Angular es ampliamente utilizado para desarrollar aplicaciones web modernas y robustas como por ejemplo:</p>
				<li>Aplicaciones web empresariales con requisitos complejos: herramientas internas, paneles de administración y sistemas de gestión empresarial (ERP), etc.</li>
				<li>Proyectos a gran escala con múltiples equipos</li>
				<li>Aplicaciones de datos en tiempo real, como chats y sistemas de colaboración.</li>
				<li>Aplicaciones web progresivas (PWA)</li>
				<li>Solicitudes de una sola página (SPA)</li>
				<li>Aplicaciones con requisitos de alto rendimiento</li>
				<li>Aplicaciones móviles multiplataforma e híbridas</li>
				<li>Aplicaciones con un fuerte enfoque en pruebas y mantenibilidad.</li>
				<li>Aplicaciones de comercio electrónico, donde se requiere una interfaz rápida y atractiva para los usuarios.</li>
		</section>
	
		<section id="Angular6">
			<h2>¿Qué prerrequisitos necesita? </h2> 
			<p>Para comenzar a trabajar con Angular, es importante tener conocimientos básicos de desarrollo web. Esto incluye familiaridad con HTML, CSS,JavaScript y TypeScript, 
			ya que son los pilares fundamentales para construir aplicaciones con Angular. Entender conceptos como el DOM (Document Object Model) y la programación orientada a objetos 
			también es beneficioso.</p>
			<p>Recomendable el conocimiento en herramientas de control de versiones como Git, ya que la mayoría de los proyectos Angular se gestionan en entornos colaborativos. 
			Familiarizarse con npm (Node Package Manager) también es importante ya que se utiliza para instalar Angular CLI y otras funcionalidades.</p>
       </section>
	
	
		<section id="Angular7">
			<h2>¿Sobre qué lenguajes se apoya?</h2> 
			<p>Como hemos comentado en los otros apartados se basa principalmente en:</p>
				<li>TypeScript, que permite a los desarrolladores escribir código compatible con las versiones más recientes de JavaScript.</li>
				<li>HTML también es un lenguaje fundamental en Angular, ya que se utiliza para definir la estructura y el diseño de las vistas.</li>
				<li>CSS es otro pilar en Angular, ya que se utiliza para el diseño de la web final.</li>
		</section>
	
		<section id="Instalacion0">
			<h1>Instalación de Angular</h1>
			<p>Angular se puede instalar tanto en Windows como en Linux y macOS. En todos los casos se requieren una serie de pasos previos de configuración e instalación para su 
			correcto funcionamiento.</p>		
		</section>
		
		<section id="Instalacion1">
			<h2>Instalación en Windows</h2>
		
			
		
		</section>
		
		<section id="Instalacion2">
			<h2>Instalación en Linux</h2>
			<p>En Linux, se necesita instalar Node.js y npm. Esto puede hacerse mediante el gestor de paquetes de la distribución que usted tenga en su equipo, "sudo apt install nodejs npm". 
			Es posible que se necesite agregar repositorios específicos para obtener versiones más recientes.</p>
			<p>Es importante verificar que Node.js y npm estén instalados correctamente utilizando "node -v" y "npm -v" en la consola. Para instalar Angular CLI utilizaremos el comando
			"npm install -g &#64;angular/cli".</p>
			<p>Tenga especial cuidado con los permisos al instalar los paquetes necesarios ya que es un error común.</p>
		</section>
		
		<section id="Instalacion3">
			<h2>Instalación en macOS</h2>
			<p>En macOS, también es necesario instalar Node.js y npm. La instalación puede hacerse mediante el instalador oficial desde el sitio web de Node.js </p>
			<p>Después de instalar Node.js, se recomienda verificar las versiones instaladas mediante los comandos "node -v" y "npm -v" en el terminal de su mac.</p>
			<p>Instalación de Angular CLI: al igual que en Windows, Angular CLI se instala ejecutando "npm install -g &#64;angular/cli" en la consola de comandos.</p>
			<p>Configuración adicional: En algunos casos, es útil configurar el shell de macOS para reconocer el comando ng correctamente, especialmente si se utilizan herramientas como Zsh o Bash.</p>
		</section>
		
		
		
	
	<section id="Angular17">
      <h2>Calculadora de DNI</h2> 
	  
	  <p>Creación y ejecución de un proyecto: El comando ng new nombre-del-proyecto permite crear un nuevo proyecto, y ng serve lo ejecuta en el puerto 4200 de localhost.</p>
   <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/3qBXWUpoPHo"
        title="Video de instalación"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </section>
    
	
	<section id="Angula83">
			<h2>Angular vs React</h2>
			<p>Crea tu primera aplicación Angular con:</p>
			<pre>
				ng new my-first-app
				cd my-first-app
				ng serve
			</pre>
			</section>
	
  </div>


</div>
<router-outlet></router-outlet>

