
/* Contenedor principal */
.tutorial-container {
  display: flex;
  font-family: Arial, sans-serif;
}

/* Sidebar fijo */
.sidebar {
  width: 15%;
  background-color: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #ccc;
  height: calc(100vh - 100px); /* Resta el alto de la cabecera */
  overflow-y: auto; /* Barra de desplazamiento vertical */
  position: fixed; /* Sidebar fijo */
  top: 60px; /* Debajo de la cabecera */
  left: 0; /* Pegado al lado izquierdo */
  z-index: 999; /* Asegura que quede por encima del contenido */
}

.sidebar h3 {
  text-align: center;
}

.sidebar ol {
  display: block; /* Hace que el enlace ocupe todo el espacio del contenedor */
  margin-left: -30px; /* Desplaza ligeramente el texto hacia la izquierda */
  text-decoration: none; /* Añade subrayado solo al pasar el mouse */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}


/* Contenido principal */
.content {
  margin-top: 60px; /* Deja espacio para la cabecera */
  margin-left: 15%; /* Deja espacio para el sidebar */
  padding: 50px;
  width: 85%; /* Ocupa el resto del espacio */
  background-color: #f4f4f4;
  overflow-y: auto;

}

.content h1 {
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 35px;
}

.content img {
  width: 100%;
  margin: 10px 0;
   height: auto;
}

.content iframe {
  display: block;
  margin: 20px auto;
}

imagen {
  max-width: 100%;
  height: auto;
}
