
/* Contenedor principal */
.tutorial-container {
  display: flex;
  font-family: Arial, sans-serif;
}


/* Contenido principal */
.content {
  margin-top: 30px; /* Deja espacio para la cabecera */
  margin-left: 15%; /* Deja espacio para el sidebar */
  padding: 50px;
  width: 85%; /* Ocupa el resto del espacio */
  background-color: #f4f4f4;

  }

.content h1 {
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 35px;
}

.content img {
  width: 100%;
  margin: 10px 0;
   height: auto;
}

.content iframe {
  display: block;
  margin: 20px auto;
}

imagen {
  max-width: 100%;
  height: auto;
}
