<!-- PIE DE PÁGINA -->
<footer class="footer">
	<div>
		<p class="footer-links">
		<a href="https://angular.io" target="_blank">
		<img src="angular_transparente.png" alt="Angular Página Principal">
		</a>
		<a href="https://www.youtube.com/angular" target="_blank">
		<img src="youtube_logo.png" alt="Documentación de Angular">
		</a>
		<a href="https://github.com/angular" target="_blank">
		<img src="logo_github.png" alt="Foros de Angular">
		</a>
		</p>
		<p class="footer-text">© 2024 Nicolás Alcaide. Todos los derechos reservados.</p>
		
	</div>
  
</footer>
