<!-- PIE DE PÁGINA -->
<footer class="footer">
  <div class="footer-links">
    <a href="https://angular.io" target="_blank">
      <img src="assets/angular-home.png" alt="Angular Página Principal">
    </a>
    <a href="https://angular.io/docs" target="_blank">
      <img src="assets/angular-docs.png" alt="Documentación de Angular">
    </a>
    <a href="https://angular.io/community" target="_blank">
      <img src="assets/angular-forums.png" alt="Foros de Angular">
    </a>
  </div>
  <p class="footer-text">© 2024 Nicolás Alcaide. Todos los derechos reservados.</p>
</footer>
