

/* --- PIE DE PÁGINA --- */

.footer {
	 
	width: 97%;
	height: 50px;
	
	padding: 20px;

	position: relative; /* Asegura que el footer esté en su posición relativa al contenido */
	bottom: 0;
  
	background-color: #696969;
    color: white;
 
	display: flex;

	align-items: center;
	justify-content: center;
	
}



.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
}

.footer-links img {
  width: 160px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

.footer-links img:hover {
  transform: scale(1.1);
}

.footer-text {
  font-size: 0.9rem;
}



