<aside class="sidebar">
	<h3>Índice</h3>
	<mat-nav-list>
		
		<mat-accordion> 
			<mat-expansion-panel> 
				<mat-expansion-panel-header><mat-panel-title>¿Qué es Angular?</mat-panel-title></mat-expansion-panel-header> 
				<mat-list-item class="sub-item"><a matLine href="#Angular1" class="link-sin-subrayado">¿Por qué elegir Angular?</a></mat-list-item>
				<mat-list-item class="sub-item"><a matLine href="#Angular2" class="link-sin-subrayado">Ventajas y desventajas</a></mat-list-item>
				<mat-list-item class="sub-item"><a matLine href="#Angular3" class="link-sin-subrayado">Angular vs React</a></mat-list-item>
				<mat-list-item class="sub-item"><a matLine href="#Angular4" class="link-sin-subrayado">TypeScript</a></mat-list-item>
				<mat-list-item class="sub-item"><a matLine href="#Angular5" class="link-sin-subrayado">¿Qué aplicaciones tiene?</a></mat-list-item>
				<mat-list-item class="sub-item"><a matLine href="#Angular6" class="link-sin-subrayado">¿Qué prerrequisitos necesita?</a></mat-list-item>
				<mat-list-item class="sub-item"><a matLine href="#Angular7" class="link-sin-subrayado">¿Sobre qué lenguajes se apoya?</a></mat-list-item>
			</mat-expansion-panel> 				
		</mat-accordion>
		
		<mat-accordion> 
			<mat-expansion-panel> 
				<mat-expansion-panel-header><mat-panel-title>Instalación de Angular</mat-panel-title></mat-expansion-panel-header> 
					<mat-list-item class="sub-item"><a matLine href="#Instalacion1" class="link-sin-subrayado">Instalación en Windows</a></mat-list-item>
					<mat-list-item class="sub-item"><a matLine href="#Instalacion2" class="link-sin-subrayado">Instalación en Linux</a></mat-list-item>
					<mat-list-item class="sub-item"><a matLine href="#Instalacion3" class="link-sin-subrayado">Instalación en macOS</a></mat-list-item>
			</mat-expansion-panel> 		
		</mat-accordion> 

		
		<mat-accordion> 
			<mat-expansion-panel> 
				<mat-expansion-panel-header><mat-panel-title>Primeros pasos en Angular</mat-panel-title></mat-expansion-panel-header> 
					
				<mat-list-item class="sub-item"><a matLine href="#Proyecto1" class="link-sin-subrayado-sub">Crea un nuevo proyecto</a></mat-list-item>
				<mat-list-item class="sub-item"><a matLine href="#Proyecto2" class="link-sin-subrayado-sub">Ejecutar aplicación</a></mat-list-item>
				<mat-list-item class="sub-item"><a matLine href="#Proyecto3" class="link-sin-subrayado-sub">Hola mundo</a></mat-list-item>
				<mat-list-item class="sub-item"><a matLine href="#Proyecto4" class="link-sin-subrayado-sub">Estructuras de carpetas</a></mat-list-item>
				<mat-list-item class="sub-item"><a matLine href="#Proyecto5" class="link-sin-subrayado-sub">Ficheros</a></mat-list-item>
				<mat-list-item class="sub-item"><a matLine href="#Proyecto6" class="link-sin-subrayado-sub">¿Actúa sobre páginas, ficheros, secciones…?</a></mat-list-item>
				<mat-list-item class="sub-item"><a matLine href="#Proyecto7" class="link-sin-subrayado-sub">Referencias a otras aplicaciones</a></mat-list-item>
			</mat-expansion-panel> 		
		</mat-accordion> 
   
		<mat-accordion> 
			<mat-expansion-panel> 
				<mat-expansion-panel-header><mat-panel-title>Preguntas habituales sobre Angular</mat-panel-title></mat-expansion-panel-header> 
				<mat-list-item class="sub-item"><a matLine href="#FAQ1" class="link-sin-subrayado-sub">FAQ</a></mat-list-item>
		
			</mat-expansion-panel> 		
		</mat-accordion> 

		<mat-accordion> 
			<mat-expansion-panel> 
				<mat-expansion-panel-header><mat-panel-title>Errores habituales</mat-panel-title></mat-expansion-panel-header> 
		
		
			</mat-expansion-panel> 		
		</mat-accordion> 
    

    <mat-list-item>
      <a matLine href="#Conclusiones0" class="link-sin-subrayado">Conclusiones sobre Angular</a>
    </mat-list-item>
  </mat-nav-list>
</aside>
