<!-- Índice -->
	<aside class="sidebar">
		
		<h3>Índice</h3>
		<ol>
			<li>
				<a href="#Angular0" class="link-sin-subrayado">¿Qué es Angular?</a>
				<ul>
					<li><a href="#Angular1">¿Por qué elegir Angular?</a></li>
					<li><a href="#Angular2">Ventajas y desventajas</a></li>
					<li><a href="#Angular3">Angular vs React</a></li>
					<li><a href="#Angular4">TypeScript</a></li>
					<li><a href="#Angular5">¿Qué aplicaciones tiene?</a></li>
					<li><a href="#Angular6">¿Qué prerrequisitos necesita?</a></li>
					<li><a href="#Angular7">¿Sobre qué lenguajes se apoya?</a></li>
				</ul>
			</li>
		
			<li>
				<a href="#Instalacion0" class="link-sin-subrayado">Instalación de Angular</a>
				<ul>	
					<li><a href="#Instalacion1">Instalación en Windows</a></li>
					<li><a href="#Instalacion2">Instalación en Linux</a></li>
					<li><a href="#Instalacion3">Instalación en macOS</a></li> 
				</ul>
			</li>
			
			<li>
				<a href="#Proyecto0" class="link-sin-subrayado">Primeros pasos en Angular</a>
				<ul>
					<li><a href="#Proyecto1">Crea un nuevo proyecto</a></li>
					<li><a href="#Proyecto2">Ejecutar aplicación</a></li>
					<li><a href="#Proyecto3">Hola mundo</a></li>
					<li><a href="#Proyecto4">Estructuras de carpetas</a></li>
					<li><a href="#Proyecto5">Ficheros</a></li>
					<li><a href="#Proyecto6">¿Actúa sobre páginas, ficheros, secciones…?</a></li>
					<li><a href="#Proyecto7">Referencias a otras aplicaciones</a></li>
				</ul>
			</li>
						
			
			
			<li>
				<a href="#FAQ0" class="link-sin-subrayado">Preguntas habituales sobre Angular</a>	
			</li>
			
			<li>
				<a href="#Errores0" class="link-sin-subrayado">Errores habituales</a>
				
			</li>
			
			<li>
				<a href="#Conclusiones0" class="link-sin-subrayado">Conclusiones sobre Angular</a>	
			</li>
			

	</ol>
  </aside>
